Django==1.4.3
psycopg2==2.4.5
wsgiref==0.1.2
gunicorn==0.14.2
South==0.7.6
redis==2.6.2
django-social-auth==0.7.6
django-braces==0.1.7
misaka==1.0.2
micawber==0.2.5
django-storages==1.1.5
boto==2.6.0
raven==2.0.10
dj-database-url==0.2.1
