<!doctype html>
<html>
<head>
    <title>{% block page_title %} | {% endblock %}Getting Started with Django</title>

    <link href="http://fonts.googleapis.com/css?family=Rock+Salt|Anonymous+Pro" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/gswd.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>
    {% load i18n %}
    <div class="container-fluid" id="site-container">
        <div class="navbar navbar-gswd">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{% url home %}">{% trans "Home" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Lessons" %} <b class="caret"></b></a>
                                {% load lesson_tags %}
                                {% all_lessons as lessons %}
                                <ol class="dropdown-menu">
                                    {% for lesson in lessons %}
                                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                                    {% endfor %}
                                    <li class="divider"></li>
                                    <li><a href="{% url lessons:list %}">{% trans "All Lessons" %}</a></li>
                                </ol>
                            </li>
                        </ul>
                        <form class="navbar-form form-search pull-left" action="{% url lessons:search %}" method="GET">
                            <div class="input-append">
                                <input type="search" class="input-medium search-query" name="q">
                                <button type="submit" class="btn">{% trans "Search" %}</button>
                            </div>
                        </form>
                        <form class="navbar-form pull-left left-margin" action="/i18n/setlang/" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" class="input-medium">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>{{ language.name_local|capfirst }} ({{ language.code }})</option>
                            {% endfor %}
                            </select>
                            <button type="submit" class="btn">{% trans "Go" %}</button>
                        </form>
                        {{ redirect_to }}
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user"></i> {% trans "Account" %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
                                    {% else %}
                                    <li><a href="{% url socialauth_begin 'github' %}?{{ redirect_querystring }}">{% trans "Get your account" %}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <header aria-role="banner" rel="banner" id="header">
            <h1 class="gswd"><a href="/">Getting Started with Django</a></h1>
        </header>
        
        {% if messages %}
        <div class="padded">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="padded bottom-margin">
            {% block content %}{% endblock %}
        </div>

        <footer aria-role="banner" role="banner" id="footer" class="top-border top-padding row-fluid">
            <p class="span4">&copy; {% now "Y" %} Brack3t {% trans "and all contributors." %}</p>
            <div class="span8">
                <ul class="pull-right unstyled flat">
                    <li><a href="{% url home %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url lessons:list %}">{% trans "All Lessons" %}</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
                    {% else %}
                    <li><a href="{% url socialauth_begin 'github' %}?{{ redirect_querystring }}">{% trans "Go to your account" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-affix.js"></script>
    {% block body_js %}{% endblock %}
</body>
</html>
